/* Menu Dropdown */
.cf:before,
.cf:after {
    content: " ";
    display: table;
    
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
header{
    position: relative;
} 
#nav{
    position: absolute;
}



.menu,
.submenu {
 margin: 0;
 padding: 0;
 list-style: none;
}

.menu {   
 margin:  auto;
 width: 800px;   
 width: -moz-fit-content;
 width: -webkit-fit-content;
 width: fit-content; 
}

.menu > li {
 background: #33658a;
 float: left;
 position: relative;
 transform: skewX(25deg);
}

.menu a {
 display: block;
 color: #fff;
 text-transform: uppercase;
 text-decoration: none;
 
 font-size: 14px;
}  
  

.menu li:hover {
 background: #f08b33;
}  

.menu > li > a {
 transform: skewX(-25deg);
 padding: 1em 2em;
}




    
   /* Dropdown */
.menu .submenu {
 position:absolute;
 width: 200px;
 left: 50%; margin-left: -100px;
 transform: skewX(-25deg);
 transform-origin: left top;
}

.menu .submenu li {
 background-color: #69d1c5;
 position: static;
 overflow: hidden;  
}      

.menu .submenu > li > a {
 padding: 1em 2em; 
  
}

.menu .submenu > li::after {
 content: '';
 position: absolute;
 top: -125%;
 height: 100%;
 width: 100%;   
 box-shadow: 0 0 50px #33658a;   
}  

.menu .submenu > li:nth-child(odd){
 transform: skewX(-25deg) translateX(0);
}

.menu .submenu > li:nth-child(odd) > a {
 transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
 right: -50%;
 transform: skewX(-25deg) rotate(3deg);
}    

.submenu > li:nth-child(even){
 transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
 transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
 left: -50%;
 transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.menu .submenu,
.submenu li {
 opacity: 0;
 visibility: hidden;   
}

.menu .submenu li {
 transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
 opacity: 1;
 visibility: visible;
}  

.menu > li:hover .submenu li:nth-child(even){
 transform: skewX(25deg) translateX(15px);   
}

.menu > li:hover .submenu li:nth-child(odd){
 transform: skewX(-25deg) translateX(-15px);   
}